html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-image: url("../images/jellyfish2.jpg");
    background-size: cover;
    background-size: center;
    /* margin: 0 auto; */
    /* background-size: contain; */
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jellyfish{
    margin-top: 180px;
}

.wrapper {
    margin: 0 auto;
}


.message {
    font-size: 3.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 50%;
}


/* Stuff from Chris Aquino's icon css */
.contact-links {
    padding: 18px 12px;
    display: flex;
    justify-content: center;
}
  
  .contact-links .fab,
  .contact-links .fas {
    background-color: rgba(0, 0, 0, 0.393);
    padding: 25px;
    color: white;
    /*padding: 0 18px;
    */font-size: 36px;
    /*transition: all .5s;
    *//*transition:;
    font-size.5s,color: .2s;
    *//*transition: transform .25s cubic-bezier(.89,1.38,.39,-0.53);
    *//*transition: transform .25s ease-in-out .1s;
    */
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
  
  .contact-links a {
    margin: 0 18px;
    /* outline: 1px solid cornflowerblue; */
  }
  
  .contact-links a:hover {
    cursor: pointer;
  }
  
  .contact-links a:hover .fab,
  .contact-links a:hover .fas,
  .contact-links a:active .fab,
  .contact-links a:active .fas {
    color: rgb(160, 216, 235);
    /* font-size: 48px; */
    /* transform: scale(1.7); */
    /* transform */
    animation-name: zoom;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
  }