html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

section, article, main {
  padding: 0 5px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-left: 3px;
}

.content {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 55px auto;
      grid-template-rows: 55px auto;
  grid-gap: 1px 0;
  margin: 0 auto;
  height: 100%;
}

@media screen and (min-width: 730px) {
  .content {
    -ms-grid-rows: auto 1fr 1fr 1fr auto;
        grid-template-rows: auto 1fr 1fr 1fr auto;
  }
}

.panel {
  display: -ms-grid;
  display: grid;
  grid-gap: 1px 0;
  height: 45px;
}

@media screen and (min-width: 730px) {
  .panel {
    -ms-grid-rows: 1fr 1fr 1fr auto;
        grid-template-rows: 1fr 1fr 1fr auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
  }
}

header {
  color: white;
  font-weight: bold;
  background: #bdced4;
  width: 100%;
  z-index: 99;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: cursive;
}

header .name {
  text-align: center;
}

header .contact-links {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

@media screen and (min-width: 375px) {
  header {
    font-size: 2rem;
  }
}

@media screen and (min-width: 730px) {
  header {
    padding-left: 7px;
    height: 55px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid white;
  }
  header .name {
    text-align: left;
  }
  header .contact-links {
    border-top: none;
    border-bottom: none;
  }
}

.contact-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background-color: #81acbb;
  color: white;
  padding-right: 5px;
}

.contact-links i {
  margin: 0 8px;
  font-size: 2.1rem;
}

.contact-links a {
  padding: 20px;
}

@media screen and (min-width: 730px) {
  .contact-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #bdced4 !important;
  }
  .contact-links i {
    margin: 0 8px;
    font-size: 2.4rem;
  }
  .contact-links a {
    padding: 20px;
  }
  .contact-links a:hover {
    background-color: #c0bdd4 !important;
  }
}

.contact-links a {
  padding: 5px;
  text-align: center;
}

.contact-links a:hover {
  background-color: #bdd4c3;
  cursor: pointer;
}

.contact-links i {
  color: white;
  font-size: 2.0rem;
}

section {
  color: white;
  font-weight: bold;
  background: #bdced4;
  margin-top: 70px;
  padding: 0 10px;
}

@media screen and (min-width: 375px) {
  section {
    margin-top: 110px;
  }
}

@media screen and (min-width: 730px) {
  section {
    margin-top: 56px;
  }
}

.profile {
  margin: auto;
}

.profile .iam {
  font-family: cursive;
  font-size: 2rem;
  padding-left: 1em;
}

.profile .p {
  font-family: 'Lora', serif;
}

@media screen and (min-width: 400px) {
  .profile .p {
    padding-top: 5%;
  }
}

@media screen and (min-width: 630px) {
  .profile .p {
    margin-left: 70px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 900px) {
  .profile .p {
    font-size: 1.2rem;
  }
}

.img-holder {
  width: 75%;
  margin: auto;
}

@media screen and (min-width: 400px) {
  .img-holder {
    margin-right: 10px;
    margin-top: 5px;
    width: 250px;
    float: left;
    shape-outside: circle(53%);
  }
}

.img-holder img {
  position: relative;
  width: 100%;
  border: 4px solid white;
  border-radius: 55%;
  -webkit-border-radius: 55%;
  -moz-border-radius: 55%;
  -ms-border-radius: 55%;
  -o-border-radius: 55%;
}

article {
  color: white;
  font-weight: bold;
  background: #bdced4;
  background-color: #d4c4bd;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 500px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 10px;
  }
}

.icons {
  font-size: 2.4rem;
  margin-right: 10px;
  text-align: center;
}

.icons img {
  height: 39px;
}

.icons .icon8p {
  margin-top: 2px;
}

.icons i {
  text-align: center;
}

.icons p {
  font-size: 0.9rem;
  font-family: "Font Awesome 5 Brands";
}

main {
  color: white;
  font-weight: bold;
  background: #bdced4;
}

.project-holder {
  margin: 5% auto;
  width: 95%;
  outline: 5px solid #81acbb;
  background: #81acbb;
}

@media screen and (min-width: 900px) {
  .project-holder {
    height: auto;
    padding-bottom: 0%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 5px;
  }
}

.projects {
  background: #d4bebd;
  padding-bottom: 25px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 5px;
}

@media screen and (min-width: 900px) {
  .projects {
    margin-bottom: 0;
  }
}

.projects video {
  width: 100%    !important;
}

@media screen and (min-width: 900px) {
  .projects video {
    height: 75%   !important;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

.projects .youvideo {
  height: 300px;
}

@media screen and (min-width: 900px) {
  .projects .youvideo {
    height: 58%;
  }
}

.projects iframe {
  height: 100%;
  width: 100%;
}

.projects h3 {
  text-align: center;
  margin: 8px auto 0 auto;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  padding-bottom: 5px;
}

.projects button {
  background: #bfbdd4;
  border: 2px solid white;
  margin-right: 15px;
  font-size: 0.9rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.projects button a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: white;
}

.projects .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
}

.projects .recipe {
  font-family: "Font Awesome 5 Brands";
  margin: auto;
  width: 95%;
}

.projects .recipe ul {
  margin: auto;
}

@media screen and (min-width: 666px) and (max-width: 900px) {
  .projects .recipe {
    width: 89%;
  }
}

.projects .explain.coming-soon {
  visibility: hidden;
}

.projects .projectinfo {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 5px;
}

footer {
  color: white;
  font-weight: bold;
  background: #bdced4;
  text-align: center;
  height: 100px;
  background: #81acbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

footer span {
  font-size: 15px;
}

footer div {
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 500px) {
  footer div {
    width: 50%;
  }
}

footer a {
  color: white;
}
/*# sourceMappingURL=styles.css.map */