html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto 1fr 1fr 1fr auto;
      grid-template-rows: auto auto 1fr 1fr 1fr auto;
  grid-gap: 1px 0;
  margin: 0 auto;
  height: 100%;
}

@media screen and (min-width: 730px) {
  .content {
    -ms-grid-rows: auto 1fr 1fr 1fr auto;
        grid-template-rows: auto 1fr 1fr 1fr auto;
  }
}

header {
  padding-left: 10px;
  color: white;
  font-weight: bold;
  background: #bdced4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  font-family: cursive;
  font-size: 2rem;
}

@media screen and (min-width: 730px) {
  header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
}

nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background-color: black;
}

@media screen and (min-width: 730px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #bdced4 !important;
  }
  nav i {
    margin: 0 8px;
    font-size: 2.4rem;
  }
  nav a {
    padding: 20px;
  }
}

nav a {
  padding: 5px;
  text-align: center;
}

nav a:hover {
  background-color: #011fff;
  cursor: pointer;
}

nav i {
  color: white;
  font-size: 2.0rem;
}

section {
  padding-left: 10px;
  color: white;
  font-weight: bold;
  background: #bdced4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

article {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  padding-left: 10px;
  color: white;
  font-weight: bold;
  background: #bdced4;
  background-color: black;
}

main {
  padding-left: 10px;
  color: white;
  font-weight: bold;
  background: #bdced4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

footer {
  padding-left: 10px;
  color: white;
  font-weight: bold;
  background: #bdced4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  height: 100px;
  background: #333;
}

.wrapper {
  text-align: center;
}

.project-holder {
  margin: 15% auto;
  width: 95%;
  outline: 3px solid black;
}

@media screen and (min-width: 400px) {
  .project-holder {
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 700px) {
  .project-holder {
    width: 80%;
  }
}

.projects {
  width: 100%;
  text-align: center;
}

.projects img {
  width: 95%;
  height: auto;
  margin: 1%;
}
/*# sourceMappingURL=styles.css.map */