//Mixins

@mixin basic-styles {
    display: flex;
    // justify-content: center;
    padding-left: 10px;
    align-items: center;
    color: white;
    font-weight: bold;
    background: #bdced4;
  }